
.navbar {
  height: 50px;
  width: 100vw;
  text-align: center;
  background-color: rgb(44, 43, 43);
}

.title {
  color: white;
  font-size: 20px;
  margin-left: 20px;
}


.search {
  padding: 20px;
}

