
  <div class="navbar">
    <h4 class="title">Dashboard</h4>
    <button class="btn btn btn-outline-light" (click)="logout()">Logout</button>
  </div>
  <div class="row">
    <div class="col-2 search">
        <input type="text"  class="form-control" placeholder="Search by Student Card No" [(ngModel)]="searchTerm" (ngModelChange)="searchUser(searchTerm)">
    </div>
    <div class="col-2 search" style="padding-right: 0;align-items: flex-start">
        <button class="btn btn-primary" (click)="searchUser(searchTerm)">Search</button>
    </div>
    <div class="col-8 search" style=" text-align: right; padding-right: 50px">
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addUserTitle()">Add User</button>
    </div>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: rgb(243, 243, 243);">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{formTitle}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clearForm()"></button>
          </div>
          <div class="modal-body" [formGroup]="userForm">

            <div class="row form">
              <div class="col-6">
                  <label class="form-label">First Name</label>
                  <input class="form-control" type="text" formControlName="firstName" placeholder="Enter First Name">
              </div>
              <div class="col-6">
                  <label class="form-label">Last Name</label>
                  <input class="form-control" type="text" formControlName="lastName" placeholder="Enter Last Name">
              </div>
            </div>

            <div class="row form">
              <div class="col-6">
                  <label class="form-label">Parent Name</label>
                  <input class="form-control" type="text" formControlName="parentName" placeholder="Enter parent Name">
              </div>
              <div class="col-6">
                  <label class="form-label">Mobile Number</label>
                  <input class="form-control" type="text" formControlName="mobile" placeholder="Enter Mobile Number">
              </div>
            </div>

            <div class="row form">
              <div class="col-6">
                  <label class="form-label">Mail</label>
                  <input class="form-control" type="text" formControlName="email" placeholder="Enter Email">
              </div>
              <div class="col-6">
                  <label class="form-label">Module</label>
                  <input class="form-control" type="text" formControlName="module" placeholder="Enter Module">
              </div>
            </div>

            <div class="row form">
              <div class="col-6">
                  <label class="form-label">Room No</label>
                  <input class="form-control" type="text" formControlName="roomNumber" placeholder="Enter Room Number">
              </div>
              <div class="col-6">
                  <label class="form-label">Block Number</label>
                  <input class="form-control" type="text" formControlName="blockName" placeholder="Enter Block Number">
              </div>
            </div>
            <div class="row form">
              <div class="col-6">
                  <label class="form-label">Country</label>
                  <input class="form-control" type="text" formControlName="country" placeholder="Enter Country Name">
              </div>
              <div class="col-6">
                  <label class="form-label">Student ID</label>
                  <input class="form-control" type="text" formControlName="studentId" [disabled]="true" placeholder="Enter Student Id">
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clearForm()">Close</button>
            <button type="button" class="btn btn-primary" (click)="saveUser()">Save changes</button>
          </div>
        </div>
      </div>
    </div>
</div>

  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Student Card No</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Parent Name</th>
        <th>Mail Id</th>
        <th>Module</th>
        <th>Mobile</th>
        <th>Block Name</th>
        <th>Room No</th>
        <th>Country</th>
        <th>Actions</th>
        <th></th>
      </tr>
    </thead>
  </table>